* {
    margin: 0;
    padding: 0;
}

.todoContainer {
    width: 600px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: azure;
    text-align: center;
}

.inputArea {
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-align: center;
    margin-bottom: 30px;

}

.inputArea input {
    padding: 10px;
    font-size: 20px;
}

.inputArea button {
    padding: 10px;
    font-size: 20px;
}